<table class="table table-bordered">
  <thead>
	<tr>
	  <% @result[:records].each do |name, _| %>
		  <th><%= name %></th>
	  <% end %>
	</tr>
  </thead>
  <tbody>
	<tr>
	  <% @result[:records].each do |_, value| %>
		  <td><%= value %></td>
	  <% end %>
	</tr>
  </tbody>
</table>